listen_addresses = ['127.0.0.1:5053']
user_name = 'dnscrypt-proxy'
max_clients = 250

ipv4_servers = true
ipv6_servers = false
dnscrypt_servers = false
doh_servers = true
odoh_servers = false

require_dnssec = true
require_nolog = true
require_nofilter = true

disabled_server_names = []
server_names = ['mullvad-doh', 'mullvad-all-doh']

fallback_resolver = '0.0.0.0:0'
ignore_system_dns = true
bootstrap_resolvers = []

netprobe_timeout = 0
netprobe_address = ''

blocked_query_response = 'refused'

cert_refresh_delay = 86400
keepalive = 240

cache = true
cache_size = 4096
cache_min_ttl = 600
cache_max_ttl = 86400
cache_neg_min_ttl = 60
cache_neg_max_ttl = 600

tls_disable_session_tickets = true

log_files_max_size = 0
log_files_max_backups = 0
log_level = 2
use_syslog = true

[static.'mullvad-doh']
stamp = 'sdns://AgcAAAAAAAAACzE5NC4yNDIuMi4yAA9kbnMubXVsbHZhZC5uZXQKL2Rucy1xdWVyeQ'

[static.'mullvad-all-doh']
stamp = 'sdns://AgMAAAAAAAAACzE5NC4yNDIuMi45ABNhbGwuZG5zLm11bGx2YWQubmV0Ci9kbnMtcXVlcnk'
